<script type="text/x-red" data-template-name="nexmo-credentials">
    <div class="form-row">
        <label for="node-config-input-name"><span>Name</span></label>
        <input type="text" id="node-config-input-name">
    </div>
    <div class="form-row">
        <label for="node-config-input-from"><i class="fa fa-user"></i> <span>Sender</span></label>
        <input type="text" id="node-config-input-from">
    </div>
    <div class="form-row">
        <label for="node-config-input-number"><i class="fa fa-phone"></i> <span>Number</span></label>
        <input type="text" id="node-config-input-number">
    </div>
</script>

<script type="text/x-red" data-help-name="nexmo-credentials">
    <p>To send request to Nexmo, you'll need to specify a valid API key and a valid phone number</p>
    <p>/!\ : you will need to specify the country calling code before you number. Here is a list : https://en.wikipedia.org/wiki/List_of_country_calling_codes</p>
    <p>/!\ : Make sure to use the E.164 format for the number</p>
</script>

<script type="text/javascript">
    RED.nodes.registerType('nexmo-credentials', {
        category: 'config',
        defaults: {
            name: { value: "Undefined recipient" },
            from: { value: "", required: true },
            number: { value: "", validate: RED.validators.regex(/^\+?[1-9]\d{1,14}$/) },
        },
        label: function () {
            return this.name
        }
    });

</script>