<script type="text/x-red" data-template-name="nexmo-auth">
    <div class="form-row">
        <label for="node-config-input-name"><span>Name</span></label>
        <input type="text" id="node-config-input-name">
    </div>
    <div class="form-row">
        <label for="node-config-input-api_key"><i class="fa fa-lock"></i> <span>API Key</span></label>
        <input type="password" id="node-config-input-api_key">
    </div>
    <div class="form-row">
        <label for="node-config-input-api_secret"><i class="fa fa-lock"></i> <span>API Secret</span></label>
        <input type="password" id="node-config-input-api_secret">
    </div>
</script>

<script type="text/x-red" data-help-name="nexmo-auth">
    <p>To send request to Nexmo, you'll need to specify a valid API key.</p>
</script>

<script type="text/javascript">
    RED.nodes.registerType('nexmo-auth', {
        category: 'config',
        defaults: {
            name: { value: "Undefined" },
        },
        credentials: {
            api_key: { type: "password", required: true },
            api_secret: { type: "password", required: true }
        },
        label: function () {
            return this.name
        }
    });

</script>