<script type="text/x-red" data-template-name="nexmo">
    <div class="form-row">
        <label for="node-input-auth"><i class="fa fa-globe"></i><span> Configuration</span></label>
        <input type="text" id="node-input-auth">
    </div>

    <div class="form-row">
        <label for="node-input-cred"><i class="fa fa-users"></i><span> Recipient</span></label>
        <input type="text" id="node-input-cred">
    </div>

    <div class="form-row">
        <label for="node-input-topic"><i class="fa fa-tasks"></i> Topic</label>
        <input type="text" id="node-input-topic" placeholder="Topic">
    </div>

    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
</script>

<script type="text/x-red" data-help-name="nexmo">
    <p>Send SMS via the Nexmo API.</p>
    <p>You will need to get first API key from Nexmo before sending SMS</p>

    <h1>Example of usage</h1>
    <h2>Incoming message</h2>
    <code>
        {
            payload : "Here is my SMS"
        }
    </code>

    <h2>Outcoming message</h2>
    <code>
        {
            "to":"<THE RECIPIENT NUMBER>",
            "message-id":"<THE MESSAGE ID>",
            "status":"0",
            "remaining-balance":"15.52540000",
            "message-price":"0.05940000",
            "network":"20810"
        }
    </code>
</script>

<script type="text/javascript">
    RED.nodes.registerType('nexmo', {
        category: 'function',
        defaults: {
            name: { value: "" },
            topic: { value: "" },
            auth: { type: "nexmo-auth", required: true },
            cred: { type: "nexmo-credentials", required: true }
        },
        color: "#3FADB5",
        inputs: 1,               // set the number of inputs - only 0 or 1
        outputs: 1,              // set the number of outputs - 0 to n
        icon: "nexmo.png",     // saved in  icons/myicon.png
        label: function () {     // sets the default label contents
            return this.name || "Send SMS via Nexmo";
        },
        labelStyle: function () { // sets the class to apply to the label
            return this.name ? "node_label_italic" : "";
        },
        inputLabels: "Msg containing the SMS",
        outputLabels: "Result of the request"
    });

</script>